<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.content2.Mapper.ElementMapper">
    <select id="getElementIdByTranslation" resultType="java.lang.Integer">
        select  `id`
        from    `element`
        where   `translation` = #{elementName}

    </select>
    <select id="getElementIdByExpression" resultType="java.lang.Integer">
        select `id`
        from `element`
        where `expression_`=#{expression}
    </select>
    <select id="getTranslationByExpression" resultType="java.lang.String">
        select `translation`
        from `element`
        where `expression_`=#{expression}
        limit 1;
    </select>
</mapper>