<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.content2.Mapper.Primary.RegionMapper">

    <select id="selectOffsetRegion" resultMap="myResultMap">
        select *
        from region
        where longitude between #{longitude_low} and #{longitude_high} and
              latitude between #{latitude_low} and #{latitude_high}
    </select>

    <resultMap id="myResultMap" type="com.example.content2.POJO.SoilAnalyse.Region">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="id_county" column="id_county" jdbcType="INTEGER"/>
        <result property="name_county" column="name_county" jdbcType="VARCHAR"/>
        <result property="name_countryside" column="name_countryside" jdbcType="VARCHAR"/>
        <result property="name_village" column="name_village" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="DOUBLE"/>
        <result property="latitude" column="latitude" jdbcType="DOUBLE"/>
    </resultMap>



    <select id="existsRegion" resultType="java.lang.Integer">
        select count(*)
        from `region`
        where `longitude`=#{longitude} and `latitude`=#{latitude}
    </select>
    <select id="selectByName_county" resultType="com.example.content2.POJO.SoilAnalyse.Region">
        select *
        from `region`
        where `name_county` = #{s}
    </select>
</mapper>