<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.content2.Mapper.Primary.SuggestValueMapper">
    <insert id="insertNewSuggestValue">
        insert into `suggest_value`
        (`id`,`crop_type`,`name_element`,`min_value`,`max_value`,`result`)
        values (#{id},#{crop_type},#{name_element},#{min_value},#{max_value},#{result})
    </insert>
    <update id="dynamicUpdateSuggestValue">
        update `suggest_value`
        <set>
            <if test="min_value != null">`min_value`=#{min_value},</if>
            <if test="max_value != null">`max_value`=#{max_value},</if>
            <if test="result !=null">`result` = #{result}</if>
        </set>
        where `id`=#{id}
    </update>
    <delete id="deleteById">
        delete from `suggest_value`
        where `id`=#{id}
    </delete>

    <select id="getSuggestValuesByLimit" resultType="com.example.content2.POJO.SoilAnalyse.SuggestValue">
        select *
        from `suggest_value`
        order by `id`
        limit #{index},#{size}
    </select>
    <select id="getLatestId" resultType="java.lang.Integer">
        select `id`
        from `suggest_value`
        order by `id` desc
        limit 1
    </select>
    <select id="isExistId" resultType="java.lang.Integer">
        select count(*)
        from `suggest_value`
        where `id`=#{id}
        limit 1
    </select>
    <select id="getSuggestValuesTotal" resultType="java.lang.Integer">
        select count(*)
        from `suggest_value`
    </select>
</mapper>